.formContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

.formLogoIcon {
  width: 72px;
  height: 72px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.formStyle {
  width: 420px;
}

.textForm {
  display: flex;
  flex-direction: column;
}

.firstRow {
  font-size: 36px;
  font-weight: 700;
  color: #525252;
}

.secondRow {
  font-size: 16px;
  color: #525252;
}

.formButton {
  width: 100%;
  height: 50px;
  background-color: #7f265b;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 800;
  font-size: 18px;
}

.checkbox {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #7f265b;
      border-color: #7f265b;
    }
  }
}

.ant-checkbox-inner {
  background-color: #7f265b;
  border-color: #7f265b;
}

.forgotPasswordText {
  color: #7f265b;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.rememberMeText {
  margin-left: 8px;
  color: #a1a1a1;
}

.checkboxWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.textWrapper {
  display: flex;
  gap: 10px;
  padding-top: 100px;
}

.textCreate {
  color: #7f265b;
  font-weight: 700;
  cursor: pointer;
}

.textInTextWrapper {
  color: #828282;
}

