.addTodoForm {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}

.errorMessage {
  color: #ff4444;
  font-size: 12px;
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
  padding: 0.125rem 1.25rem;
}

.formContainer {
  position: relative;
}
